* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

body {
  background: #002b36;
}

.container {
  position: relative;
  width: 80%;
  max-width: 650px;
  margin: 0 auto;
}

.create-event {
  position: relative;
  width: 100%;
  margin: 50px auto;
  padding: 50px;
  text-align: center;
  background: #073642;
}

.event-form {
  margin-top: 20px;
}

.event-head {
  margin: 5px;
  text-align: start;
  color: #b58900;
}

.event-input {
  display: inline-block;
  width: 100%;
  margin: 20px 0;
  padding: 10px;
  background: #073642;
  border: 1px solid	#859900;
  font-size: 15px;
  color: #2aa198;
}

.description {
  max-width: 100%;
  min-width: 100%;
  min-height: 100px;
}

.date::-webkit-calendar-picker-indicator {
  background: #073642;
}

.submit-input {
  display: inline-block;
  background: #b58900;
  border: none;
  width: 50%;
  margin-top: 30px;
  padding: 12px;
  color: #fdf6e3;
  font-weight: 500;
  font-size: 22px;
}
