* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

body {
  background: #002b36;
}

.navigation-bar {
  max-height: 80px;
  min-height: 60px;
  background: #073642;
}

.navigator-bar, .wrapper {
  display: flex;
  width: 70%;
  margin: 0 auto;
  align-items: center;
  height: 70px;
}

.brand {
  margin-right: auto;
}

.brand a, .brand h1 {
  text-decoration: none;
  color: orange;
  font-size: 40px;
  font-weight: 600;
  letter-spacing: -.07em;
}

.brand span {
  color: white;
  font-size: 27px;
  letter-spacing: normal;
  font-weight: 500;
}

.container {
  position: relative;
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
}

.event-list-container {
  position: relative;
  width: 100%;
  margin-top: 80px;
}

.row {
  padding: 20px;
  margin-bottom: 20px;
  background: #073642;
}

.row-item {
  margin: 5px;
}

.row-inner-item {
  margin-bottom: 5px;
}

.row-details {
  margin-bottom: 20px;
}

.show-title {
  color: #b58900;
  font-size: 20px;
  line-height: 1.25;
  font-weight: 500;
  letter-spacing: -.02em;
}

.show-datetime, .show-location {
  color: #93a1a1;
}

.show-title:hover {
  cursor: pointer;
}

.row-description-head span {
  font-size: 20px;
  font-weight: 400;
  color: #268bd2;
}
.show-description {
  color: #2aa198;
  line-height: 1.5;
  white-space: pre-line;
}

.create-event {
  position: relative;
  width: 100%;
  margin: 50px auto;
  padding: 50px;
  text-align: center;
  background: #073642;
}

.event-form {
  margin-top: 20px;
}

.event-head {
  margin: 5px;
  text-align: start;
  color: #b58900;
}

.event-input {
  display: inline-block;
  width: 100%;
  margin: 20px 0;
  padding: 10px;
  background: #073642;
  border: 1px solid	#859900;
  font-size: 15px;
  color: #2aa198;
}

.description {
  max-width: 100%;
  min-width: 100%;
  min-height: 100px;
}

.date::-webkit-calendar-picker-indicator {
  background: #073642;
}

.submit-input {
  display: inline-block;
  background: #b58900;
  border: none;
  width: 50%;
  margin-top: 30px;
  padding: 12px;
  color: #fdf6e3;
  font-weight: 500;
  font-size: 22px;
}

.submit-input:hover {
  cursor: pointer;
  background: #859900;
}
